---
import config from "@/config/config.json";
import {
  IoLogoLinkedin,
  IoSend,
  IoLogoTwitter,
} from "react-icons/io5";
const { base_url }: { base_url: string } = config.site;

const {
  title,
  className,
  slug,
}: { title?: string; description?: string; slug?: string; className?: string } =
  Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <!-- Place this tag where you want the button to render. -->
    <a 
      class="github-button" 
      href={`https://www.linkedin.com/shareArticle?url=${base_url}blog/${slug}`} 
      data-color-scheme="no-preference: light; light: light; dark: dark;" 
      data-size="large" 
      target="_blank"
      aria-label="Star ara-foundation/web on GitHub">
      <IoLogoLinkedin />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://twitter.com/intent/tweet/?text=${title}&amp;url=${base_url}blog/${slug}`}
      target="_blank"
      class="twitter-follow-button"
      rel="noreferrer noopener"
    >
      <IoLogoTwitter />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="telegram share button"
      href={`https://telegram.me/share/url?url=${base_url}blog/${slug}&text=${title}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoSend />
    </a>
  </li>
</ul>
