---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "@/components/ImageMod.astro";

type Item = {
  avatar: string;
  content: string;
  name: string;
  designation: string;
}

const { testimonial } = Astro.props;
---

{
  testimonial.data.enable && (
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
            <h2 set:html={markdownify(testimonial.data.title)} class="mb-4" />
            <p set:html={markdownify(testimonial.data.description)} />
          </div>
          <div class="col-12">
            <div class="swiper">
                {testimonial.data.testimonials.map(
                  (item: {
                    avatar: string;
                    content: string;
                    name: string;
                    designation: string;
                  }) => (
                    <div class="swiper-slide mt-10 w-32">
                      <div class="rounded-lg bg-light px-7 py-10 dark:bg-darkmode-light">
                        <div class="mt-4 flex items-center">
                          <div class="text-text-dark dark:text-white">
                            <ImageMod
                              height={50}
                              width={50}
                              class=""
                              src={item.avatar}
                              alt={item.name}
                              format="webp"
                            />
                          </div>
                          <div class="ml-4">
                            <h3
                              set:text={item.name}
                              class="h5 font-primary font-semibold"
                            />
                            <p
                              set:text={item.designation}
                              class="text-text-dark dark:text-white"
                            />
                          </div>
                        </div>
                        <blockquote
                          class="mt-8"
                          set:html={markdownify(item.content)}
                        />
                        
                      </div>
                    </div>
                  )
                )}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".testimonial-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".testimonial-slider-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>
