---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

const contact = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { title, description, meta_title, image } = contact.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <ul>
            <li class="mb-6">
              <label for="name" class="form-label">
                Mail <span class="text-red-500">Recommended</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                type="email"
                value="Send your message to info@ara.foundation"
                disabled="disabled"
              />
            </li>
            <li class="mb-6 mt-10">
              <label for="name" class="form-label">
                Telegram <span class="text-gray-500">Group</span>
              </label>
              Want to contact us for any questions on social media?
              <a
                id="name"
                name="name"
                class="form-input"
                href="https://t.me/arasangha"
              >
              Ara Sangha (Telegram)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>
